<div class="followingHeaderText">
    <h1>Your Following Leagues</h1>
</div>

<div class="leagueListForLoopContainer">
    <% for( let i = 0; i < leagueLists.length; i++ ) { %>
        <div class="leagueListForLoop">
            <h2 id><%= leagueLists[i].leagues[0].strLeague  %></h2>
            <h4>Division: <%= leagueLists[i].leagues[0].strDivision  %></h4>
            <h4>Current Season: <%= leagueLists[i].leagues[0].strCurrentSeason %></h4>
            <h4>Gender: <%= leagueLists[i].leagues[0].strGender %></h4></br>
            <img id="leagueBanner" src="<%=leagueLists[i].leagues[0].strBanner %>" alt="<%=leagueLists[i].leagues[0].strBadge %>" onerror="this.onerror=null; this.src='<%= leagueLists[i].leagues[0].strBadge%>';" />
        </div>
    <% } %>
</div>