<h1 id="clubHeaderText">Participating Clubs</h1></br>

<% for( let i = 0; i < clubs.length; i++ ) { %>
    <div class="clubLayout">
        <h1><%= clubs[i].strTeam %> </h1>
        <img id="clubBanner" src="<%= clubs[i].strTeamBadge %>" alt="<%= clubs[i].strTeam %>">
        <h4><%= clubs[i].strStadium %> </h4>
        <h4><%= clubs[i].strStadiumDescription %> </h4>
        </br></br></br>
    </div>
<% } %>
