<div class="leagueLayout">
    <div id="countryNameText">
        <h2><%= leagueLists[0].strCountry  %></h1>
    </div>
</div>

<div class="leagueListForLoopContainer">
    <% for( let i = 0; i < leagueLists.length; i++ ) { %>
        <div class="leagueListForLoop">
                <h2 id="leagueName"><%= leagueLists[i].strLeague %></h2>
                <div class="followClubsTag">
                    <form action="/follow/league/<%= leagueLists[i].idLeague%>" method="POST">
                        <input type="hidden" name="leagueId" value= "<%=leagueLists[i].idLeague%>">
                        <input id="followId" type="submit" name="leagueId" value="FOLLOW">
                    </form>
                
                    <form action="/country/club" method="GET">
                        <input type="hidden" name="leagueId" value="<%=leagueLists[i].idLeague%>">
                        <input id="clubId" type="submit" value="CLUB LISTS">
                    </form></br></br></br>
                </div>
                <h4>Division: <%= leagueLists[i].strDivision  %></h4>
                <h4>Current Season: <%= leagueLists[i].strCurrentSeason %></h4>
                <h4>Gender: <%= leagueLists[i].strGender %></h4></br>
                <img id="leagueBanner" src="<%=leagueLists[i].strBanner %>" alt="<%=leagueLists[i].strBadge %>" onerror="this.onerror=null; this.src='<%= leagueLists[i].strBadge%>';" />
        </div>
    <% } %> 
</div>
